*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling Jumbotron*/
.jumbotron{
    position: relative;
    background-image: url('/IMAGE/SC_S_Sakuragi_Mano_SSR04.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #DFF2EB;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0,  0, 0.4);
    z-index: 1;
}

.jumbotron h1{
    position: relative;
    z-index: 5;
}

/* styling navigasi*/

nav a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover{
    font-weight: bold;
    background-color:#FF9A6E;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 25px;
}

nav{
    background-color: #FFB38E;
    padding: 5px 0;
    height: 100px;
    display: flex;

    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center !important;
    list-style: none;

    gap: 1.5rem;
    width: 100%;
}

nav li{
    list-style-type: none;
    margin: 0px;
}

/* styling konten*/
body{
    background-color: #FFCF9D;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

main{
    padding: 20px;
    gap: 1.5rem;
    display: flex;
}

.card {
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 15px;
    border-radius: 3px;
}

h2, h3{
    color: #FFB26F;
}

/* styling sidebar*/
.content-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    align-items: flex-start;
}

#content{
    flex: 1;
}

.sidebar{
    flex-basis: 250px;
    width: 250px;
}

.sidebar img{
    width: 100%;
    max-width: 250px;
}

/* Styling button */
.button{
    background-color: #FFB26F;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.button:hover{
    background-color: #ff8080;
}

/* penyesuaian untuk mobile*/
@media (min-width: 1024px){
    .content-container{
        flex-direction: row;
    }
    .sidebar{
        flex-basis: 250px;
    }
    .card{
        margin: 15px;
    }
}

@media (max-width: 1024px) and (min-width: 600px){
    .content-container{
        flex-direction: column;
        align-items: center;
    }

    .sidebar{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 600px){

    nav a {
        font-size: 12px;
        padding: 5px 8px;
    }
    nav ul {
        flex-direction: column; 
        justify-content: center;
        width: 100%;
    }

    nav li {
        margin: 5px 0; 
    }

    

    body{
        font-size: 14px;
    }
    .content-container{
        flex-direction: column;
        padding: 10px;
    }

    .sidebar{
        width: 100%;
        margin-top: 10px;
    }
    .jumbotron{
        height: 200px;
        background-position: center;
    }
    .card{
        margin: 10px;
    }
}
